
<div class="container-div" style="height: 100vh;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--<a class="navbar-brand" href="#"><img src="../assets/good.png" alt=""></a>
<a class="navbar-brand" href="#"><img src="../assets/films.png" alt=""></a>-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="#" style="font-weight: bold;">Films <span class="sr-only" style="font-weight: lighter;">By Genre</span></a>
</li>
<li class="nav-item active">
<a class="nav-link" href="#" style="font-weight: bold;">NetFlix</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="#" style="font-weight: bold;">iTunes</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="#" style="font-weight: bold;">Amazon Prime</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="#" style="font-weight: bold;">Hulu Plus</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="#" style="font-weight: bold;">All Services</a>
</li>
</ul>
<form class="form-inline my-2 my-lg-0 form-tag">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>
<div class="description-text">
<h2>Find great films on your favourite service</h2>
<h6>Based on <strong>2396,229</strong> film reviews</h6>
</div>
<div class="row" style="width: 80%; margin: auto;">
<div class="col-3">
<img src="../assets/netflix.jfif" alt="">
</div>
<div class="col-3">
<img src="../assets/apple.jfif" alt="">
</div>
<div class="col-3">
<img src="../assets/amazon.jfif" alt="">
</div>
<div class="col-3">
<img src="../assets/hulu.jfif" alt="">
</div>
</div> <div class="card text-center">
<div class="card-body">
<!-- <h5 class="card-title">Special title treatment</h5> -->
<p class="card-text">With a <u>Goodfile.ms account</u> you can save all of your file preference to find better films to see</p>
</div>
</div>
</div>
